.body {
    font-family: 'PT Serif', serif;
}

.font {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 85px;
    letter-spacing: -0.05em;
}

.bg-blue {
    background-color:#C4E2FF;
}

.border-bottom-dark {
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.border-top {
    border-top: 1px solid rgba(230, 230, 230, 1);
}


.border-radius {
    border-radius: 99em;
}

.aside-buttons > li {
    margin-bottom: 10px;
}